{% extends 'coins/base.html' %}

{% block title %}
{{user}}'s offers
{% endblock %}

{% block content %}

{% for multi_offer in offers %}
<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-wrap gap-3">
            <p class="fs-4">Offer #{{ multi_offer.id }} to {{ multi_offer.responder }} ({{ multi_offer.created|timesince }})</p>
                
            <div class="d-flex gap-3">
                <!-- Кнопка для прийняття оферу -->
                {% if multi_offer.valid_offer %}
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#acceptModal{{ multi_offer.id }}">
                    Accept offer
                </button>
                {% endif %}

                <!-- Кнопка для скасування оферу -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal{{ multi_offer.id }}">
                    Cancel offer
                </button>
            </div>    
        </div>
        {% if not multi_offer.valid_offer %}
        <div class="alert alert-danger my-3">
            The offer is not valid, the coins have already been exchanged
        </div>
        {% endif %}

        <!-- Модальне вікно для підтвердження прийняття оферу -->
        {% if multi_offer.valid_offer %}
        <div class="modal fade" id="acceptModal{{ multi_offer.id }}" tabindex="-1" aria-labelledby="acceptModalLabel{{ multi_offer.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="acceptModalLabel{{ multi_offer.id }}">Confirmation of offer acceptance</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to accept this offer?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cencel</button>
                        <form action="{% url 'coins:accept-multi-offer' pk=multi_offer.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Модальне вікно для підтвердження скасування оферу -->
        <div class="modal fade" id="cancelModal{{ multi_offer.id }}" tabindex="-1" aria-labelledby="cancelModalLabel{{ multi_offer.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel{{ multi_offer.id }}">Confirmation of offer cancellation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel this offer?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cencel</button>
                        <form action="{% url 'coins:cancel-multi-offer' pk=multi_offer.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Інший контент оферу -->
        <p>{{ multi_offer.responder }}'s coins:</p>
        <div class="row">
            {% for coin in multi_offer.coins_to_get.all %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card mb-3">
                    <a href="{% url 'coins:coin-detail' pk=coin.id %}">
                        {% if coin.img_front %}
                        <img src="{{ coin.img_front.url }}" alt="coin" class="card-img-top" />
                        {% else %}
                        no image
                        {% endif %}
                    </a>
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ coin.denomination }} {{ coin.year }}</h6>
                        <div>{{ coin.country }}</div>
                        <div>Material: {{ coin.material }}</div>
                        <div>Diameter: {{ coin.diameter }}</div>
                        <div>Circulation: {{ coin.circulation }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr>

        <p>your coins:</p>
        <div class="row">
            {% for coin in multi_offer.coins_to_give.all %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card mb-3">
                    <a href="{% url 'coins:coin-detail' pk=coin.id %}">
                        {% if coin.img_front %}
                        <img src="{{ coin.img_front.url }}" alt="coin" class="card-img-top" />
                        {% else %}
                        no image
                        {% endif %}
                    </a>
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ coin.denomination }} {{ coin.year }}</h6>
                        <div>{{ coin.country }}</div>
                        <div>Material: {{ coin.material }}</div>
                        <div>Diameter: {{ coin.diameter }}</div>
                        <div>Circulation: {{ coin.circulation }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if multi_offer.message %}
        <div>
            <h4>Message</h4>
            <p>{{ multi_offer.message }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}


<div class="d-flex justify-content-center my-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if offers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ offers.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %} 
            {% for num in offers.paginator.page_range %} 
                {% if num == 1 or num == offers.paginator.num_pages %}
                <li class="page-item {% if offers.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% elif num >= offers.number|add:'-2' and num <= offers.number|add:'2' %}
                <li class="page-item {% if offers.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% elif num == offers.number|add:'-3' or num == offers.number|add:'3' %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %} 
            {% endfor %} 
            {% if offers.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ offers.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}