{% extends 'coins/base.html' %} {% block title %} Change passwor {% endblock %} {% block content %}
    <h3>Change passwor for {{ user }}</h3>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" value="{{ form_data.email }}" type="email" class="form-control {% if errors.email %}is-invalid{% endif %}" id="exampleInputEmail1" aria-describedby="emailHelp" required />
            <div class="invalid-feedback">{{ errors.email }}</div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Confirm">
        </div>
    </form>

{% endblock %}
