{% extends 'coins/base.html' %} {% block title %} Change passwor {% endblock %} {% block content %}
    {% if validlink %}
    <form method="post">
        {% csrf_token %}

        <div class="col-12 col-md-4">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input name="new_password1" value="{{ form_data.password1 }}" type="password" class="form-control {% if errors.password1 %}is-invalid{% endif %}" id="exampleInputPassword1" required />
            <div class="invalid-feedback">{{ errors.password1 }}</div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <label for="exampleInputPassword2" class="form-label">New Password confirmation</label>
            <input name="new_password2" value="{{ form_data.password2 }}" type="password" class="form-control {% if errors.password2 %}is-invalid{% endif %}" id="exampleInputPassword2" required />
            <div class="invalid-feedback">{{ errors.password2 }}</div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="change password">
        </div>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. 
        Please request a new password reset.</p>
    {% endif %}

{% endblock %}
