{% extends 'coins/base.html' %} 
{% block title %} 
    search
{% endblock %} 
{% block content %}
<h3> search by "{{ pattern }}" </h3>
<p> Found: {{ coin_list.count }} </p>
<div class="row">
    {% for coin in coin_list %}
    <div class="col-md-3 text-center mb-4">
        <a href="{% url 'coins:coin-detail' pk=coin.id %}" class="text-light text-decoration-none">
            <img src="{{ coin.img_front.url }}" alt="coin" class="img-fluid rounded shadow-sm hover-zoom">
        </a>
        <p class="mt-2">
            <span class="d-block">{{ coin.country }}</span>
            <span class="d-block">{{ coin.denomination }} {{ coin.year }}</span>
            <a href="{% url 'coins:user-cabinet' pk=coin.owner.id %}" class="d-block text">{{ coin.owner }}</a>
        </p>
    </div>
    {% endfor %}
</div>
{{ coin_list }}
{% endblock %}