{% extends 'coins/base.html' %} 
{% block title %} 
{{ owner }}'s cabinet 
{% endblock %} 
{% block content %}
<h3>{{ owner }}'s cabinet</h3>
{%if owner == user %}
<a href="{% url 'coins:password-change' %}">password change</a>
{% endif %}
<h4>Coins for change </h4>
<div class="row">
  {% for coin in owner.profile.active_coins %} 
  <div class="col-3 text-center border">
    <a href="{% url 'coins:coin-detail' pk=coin.id %}">
      <img
        src="{{ coin.img_front.url }}"
        alt="coin"
        class="w-75 h-75 object-fit-contain border rounded"
      />
    </a>
    <p>
      {{ coin.country }}
      <br />
      {{ coin.denomination }} {{ coin.year }}
      <br>
      {{ coin.get_status_display }}
    </p>
  </div>
  {% endfor %}
</div>
{% if owner == user %}
<br>
<h5>Exchanged coins</h5>
  
  
  {% for coin in owner.profile.exchanged_coins %}
  <div class="row">
    <div class="col-3 p-5">
      <img src="{{ coin.img_front.url }}" class="w-100">
      <p>{{coin}}</p>
    </div>
    <div class="col-6 pt-5">
      <form method="post" action="{% url 'coins:coin-change-status' %}">
        {% csrf_token %}
        <select name="status" id="">
          <option value="">--Please choose status--</option>
          <option value="a">Active</option>
          <option value="w">Deliver to me</option>
        </select>
        <input type="submit" value="change status" class="btn btn-primary">
        <input type="hidden" name="pk" value="{{coin.id}}">
      </form>
    </div>

  </div>
  {% endfor %}
{% endif %}
{% if user.is_authenticated and user != owner %}
<a href="{% url 'coins:multi-offer' pk=owner.id %}" class="btn btn-primary my-2">
    Create multioffer 
</a>
<h5>Create message to {{ owner }}</h5>
<form action="{% url 'coins:message-from-cabinet' pk=user.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="author_id" value="{{ user.id }}">
    <input type="hidden" name="recipient_id" value="{{ owner.id }}">
    <input type="submit" value="send message" class="btn btn-primary">
</form>
{% endif %}

{% if owner == user and owner.profile.multi_offers_to_other_users_under_consideration %}

<h4>My offers under consideration to another users ({{ owner.profile.multi_offers_to_other_users_under_consideration|length }}):</h4>

{% for multi_offer in owner.profile.multi_offers_to_other_users_under_consideration %}

<p class="fs-4">Offer #{{ multi_offer.id }} to {{ multi_offer.responder }} ({{ multi_offer.created|timesince }})</p>

<p>{{ multi_offer.responder }}'s coins:</p>

<div class="row">
  {% for coin in multi_offer.coins_to_get.all %}
  <div class="col-2 text-center">
    <img src="{{ coin.img_front.url }}" class="w-75">
    <p>{{ coin }}</p>
  </div>
  {% endfor %}
</div>

<hr>

<p>your coins:</p>
<div class="row">
  {% for coin in multi_offer.coins_to_give.all %}
  <div class="col-2 text-center">
    <img src="{{ coin.img_front.url }}" class="w-75">
    <p>{{ coin }}</p>
  </div>
  {% endfor %}
</div>

{% endfor %}

{% endif %}

<h4>History of offers ({{ owner.profile.history_of_offers_by_user|length }}):</h4>
{% for coins in owner.profile.history_of_offers_by_user %}
<p class="fs-4">Offer #{{ coins.id }} to {{ coins.responder }} ({{ coins.created }})</p>
<p> coin(s) received from {{ coins.responder }}</p>
<div class="row">
  {% for coin in coins.coins_to_get.all %}
  <div class="col-2 text-center">
    <img src="{{ coin.img_front.url }}" class="w-75">
    <p>{{ coin }}</p>
  </div>
  {% endfor %}
</div>
<p>received coins(s) as a result of exchange</p>
<div class="row">
  {% for coin in coins.coins_to_give.all %}
  <div class="col-2 text-center">
    <img src="{{ coin.img_front.url }}" class="w-75">
    <p>{{ coin }}</p>
  </div>
  {% endfor %}
</div>
{% endfor%}


{% endblock %}