{% extends 'coins/user_cabinet/base_user_cabinet.html' %} 
{% block user_page_content %}
{% if user.multi_offers_made %}

<h4>My offers under consideration to another users ({{ user.multi_offers_made.all|length }}):</h4>

{% for multi_offer in user.multi_offers_made.all %}

<p class="fs-4">Offer #{{ multi_offer.id }} to {{ multi_offer.responder }} ({{ multi_offer.created|timesince }})</p>

<p>{{ multi_offer.responder }}'s coins:</p>

<div class="row">
  {% for coin in multi_offer.coins_to_get.all %}
  <div class="col-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card mb-3">
        <a href="{% url 'coins:coin-detail' pk=coin.id %}">
        {% if coin.img_front %}
        <img
            src="{{ coin.img_front.url }}"
            alt="coin"
            class="card-img-top"
        />
        {% else %}
        no image
        {% endif %}
        </a>
        <div class="card-body p-2">
            <h6 class="card-title">{{ coin.denomination }} {{ coin.year }}</h6>
            <div>{{ coin.country }}</div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>

<hr>

<p>your coins:</p>
<div class="row">
  {% for coin in multi_offer.coins_to_give.all %}
  <div class="col-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card mb-3">
        <a href="{% url 'coins:coin-detail' pk=coin.id %}">
        {% if coin.img_front %}
        <img
            src="{{ coin.img_front.url }}"
            alt="coin"
            class="card-img-top"
        />
        {% else %}
        no image
        {% endif %}
        </a>
        <div class="card-body p-2">
            <h6 class="card-title">{{ coin.denomination }} {{ coin.year }}</h6>
            <div>{{ coin.country }}</div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endfor %}

{% endif %}

{% endblock %}