{% extends 'coins/user_cabinet/base_user_cabinet.html' %} {% block user_page_content %}
<h5>Profile</h5>
{% if success %}
<div class="alert alert-success" role="alert">Data saved</div>
{% endif %}
<div class="d-flex g-3 flex-column-reverse flex-md-row">
    <div class="col-lg-8">
        <form class="row g-3 needs-validation m-auto" style="max-width: 600px" novalidate action="{% url 'coins:edit-account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6 col-md-6">
                <label for="validationCustom01" class="form-label">First name</label>
                <input name="first_name" value="{{ user.first_name }}" type="text" class="form-control {% if errors.first_name %}is-invalid{% endif %}" id="validationCustom01" required />
                <div class="invalid-feedback">{{ errors.first_name }}</div>
            </div>

            <div class="col-6 col-md-6">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input name="last_name" value="{{ user.last_name }}" type="text" class="form-control {% if errors.last_name %}is-invalid{% endif %}" id="validationCustom02" required />
                <div class="invalid-feedback">{{ errors.last_name }}</div>
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input
                    name="email"
                    value="{{ user.email }}"
                    type="email"
                    class="form-control {% if errors.email %}is-invalid{% endif %}"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    required
                />
                <div class="invalid-feedback">{{ errors.email }}</div>
            </div>

            <div class="col-md-6">
                <label for="exampleInputPhone1" class="form-label">Phone</label>
                <input
                    name="phone"
                    value="{{ user.profile.phone }}"
                    type="number"
                    class="form-control {% if errors.phone %}is-invalid{% endif %}"
                    id="exampleInputPhone1"
                    aria-describedby="emailHelp"
                    required
                />
                <div class="invalid-feedback">{{ errors.phone }}</div>
            </div>

            <hr />

            <div class="col-md-6">
                <label for="Address" class="form-label">Address</label>
                <input name="addres" value="{{ user.profile.addres }}" type="text" class="form-control {% if errors.addres %}is-invalid{% endif %}" id="Address" required />
                <div class="invalid-feedback">{{ errors.addres }}</div>
            </div>

            <div class="col-6 col-md-3">
                <label for="City" class="form-label">City</label>
                <input name="city" value="{{ user.profile.city }}" type="text" class="form-control {% if errors.city %}is-invalid{% endif %}" id="City" required />
                <div class="invalid-feedback">{{ errors.city }}</div>
            </div>

            <div class="col-6 col-md-3">
                <label for="Postcode" class="form-label">Postcode</label>
                <input name="postcode" value="{{ user.profile.postcode }}" type="number" class="form-control {% if errors.postcode %}is-invalid{% endif %}" id="Postcode" required />
                <div class="invalid-feedback">{{ errors.postcode }}</div>
            </div>

            <hr />

            <div class="col-md-6">
                <label for="validationCustomUsername" class="form-label">Username</label>
                <input
                    name="username"
                    value="{{ user.username }}"
                    type="text"
                    class="form-control {% if errors.username %}is-invalid{% endif %}"
                    id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend"
                    required
                />
                <div class="invalid-feedback">{{ errors.username }}</div>
            </div>

            <div class="col-md-6">
                <label>Password</label>
                <div>
                    <a class="btn btn-default link-primary" href="{% url 'coins:password-change' %}">Password change</a>
                </div>
            </div>

            <div class="mt-5">
                <input class="btn btn-lg btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <form class="row g-3 needs-validation m-auto" style="max-width: 600px" novalidate action="{% url 'coins:edit-account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {% if user.profile.user_pic %}
            <img src="{{ user.profile.user_pic.url }}" alt="" />
            <div class="form-check">
                <input class="form-check-input" name="remove_pic" type="checkbox" value="true" id="flexCheckDefault" />
                <label class="form-check-label text-danger" for="flexCheckDefault"> Delete image </label>
            </div>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" color="#eee" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            </svg>
            {% endif %}
            <div class="mb-3">
                <label for="formFile" class="form-label">Download image</label>
                <input name="user_pic" class="form-control" type="file" id="formFile" />
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>
{% endblock %}
