.sidebar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 56px;
    background-color: #f8f9fa;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

@media (max-width: 992px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }
}